<div>
  <h2 id="page-heading" data-cy="CourtCaseHeading">
    <span jhiTranslate="employeeResigtrationSystemApp.courtCase.home.title">Court Cases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="employeeResigtrationSystemApp.courtCase.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-court-case"
        [routerLink]="['/court-case/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="employeeResigtrationSystemApp.courtCase.home.createLabel"> Create a new Court Case </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courtCases?.length === 0">
    <span jhiTranslate="employeeResigtrationSystemApp.courtCase.home.notFound">No courtCases found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="courtCases && courtCases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contactNo">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.contactNo">Contact No</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emailAddress">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.emailAddress">Email Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salary">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.salary">Salary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gstOnSalary">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.gstOnSalary">Gst On Salary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <span jhiTranslate="employeeResigtrationSystemApp.courtCase.lastModified">Last Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courtCase of courtCases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/court-case', courtCase.id, 'view']">{{ courtCase.id }}</a>
          </td>
          <td>{{ courtCase.firstName }}</td>
          <td>{{ courtCase.lastName }}</td>
          <td>{{ courtCase.address }}</td>
          <td>{{ courtCase.contactNo }}</td>
          <td>{{ courtCase.emailAddress }}</td>
          <td>{{ courtCase.salary }}</td>
          <td>{{ courtCase.gstOnSalary }}</td>
          <td>{{ courtCase.lastModified }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/court-case', courtCase.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/court-case', courtCase.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(courtCase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="courtCases && courtCases.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
