<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-court-case-heading"
        data-cy="CourtCaseCreateUpdateHeading"
        jhiTranslate="employeeResigtrationSystemApp.courtCase.home.createOrEditLabel"
      >
        Create or edit a Court Case
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.firstName" for="field_firstName"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.contactNo" for="field_contactNo"
            >Contact No</label
          >
          <input type="text" class="form-control" name="contactNo" id="field_contactNo" data-cy="contactNo" formControlName="contactNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.emailAddress" for="field_emailAddress"
            >Email Address</label
          >
          <input
            type="text"
            class="form-control"
            name="emailAddress"
            id="field_emailAddress"
            data-cy="emailAddress"
            formControlName="emailAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.salary" for="field_salary">Salary</label>
          <input type="text" class="form-control" name="salary" id="field_salary" data-cy="salary" formControlName="salary" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.gstOnSalary" for="field_gstOnSalary"
            >Gst On Salary</label
          >
          <input
            type="text"
            class="form-control"
            name="gstOnSalary"
            id="field_gstOnSalary"
            data-cy="gstOnSalary"
            formControlName="gstOnSalary"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="employeeResigtrationSystemApp.courtCase.lastModified" for="field_lastModified"
            >Last Modified</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModified"
            id="field_lastModified"
            data-cy="lastModified"
            formControlName="lastModified"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
